.contactUs {
  background: #fff;
  margin-bottom: 4rem;
  }
  
  .container {
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 1.5rem 3rem;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
  }



.sectionHeader {
  margin-bottom: 50px;
  text-align: center;
}


.sectionHeader p {
  color: #666;
}

.row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.contact {
  outline: none;
  border: none;
  background: #009ddc;
  color: #ffffff;
  width: 280px;
  height: 50px;
  border-radius: 5px;
  font-family: "Nunito", sans-serif;
  cursor: pointer;
  font-size: 1.2rem;
  margin: 0 auto;
}
