/* ContactUs.module.css */

.contactUs {
  background: #fff;
  margin-bottom: 4rem;
  }
  
  .container {
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 1.5rem 3rem;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
  }



.sectionHeader {
  margin-bottom: 50px;
  text-align: center;
}

.sectionHeader h2 {
  color: #333;
  font-weight: bold;
  font-size: 3em;
  margin-bottom: 20px;
}

.sectionHeader p {
  color: #666;
}

.row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.contactInfo {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.contactInfoItem {
  display: flex;
  flex-basis: calc(33.333% - 20px);
  margin-bottom: 30px;
}

.contactInfoIcon {
  height: 70px;
  width: 70px;
  background-color: #1da9c0;
  text-align: center;
  border-radius: 50%;
  color: #fff;
}

.contactInfoIcon i {
  font-size: 30px;
  line-height: 70px;
}

.contactInfoContent {
  margin-left: 20px;
}

.contactInfoContent h4 {
  color: #1da9c0;
  font-size: 1.4em;
  margin-bottom: 5px;
}

.contactInfoContent p {
  color: #333;
  font-size: 1em;
}

@media (max-width: 991px) {
  .contactInfoItem {
    flex-basis: 100%;
  }
}
