.navbar {
  height: 80px;
    background: rgb(255, 255, 255);
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 100;
}
.container {
  
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar a {
  text-decoration: none;
  color: inherit;
  cursor: default;
}

.navbar a:hover {
  cursor: pointer;
  transition: text-decoration 0.5s ease-in-out; 
}


.logo {
    width: 50px;
    height: 50px;
}

.menu-icon {
  display: none;
}


.nav-elements ul {
  display: flex;
  justify-content: center;
    transition: all 0.3s ease-in-out;
    list-style-type: none;
    height: 100%;
    width: 100%;
    text-align: center;
}

.nav-elements ul li:not(:last-child) {
  /* margin-right: 10px; */
  /* text-align: center; */
  display: flex;
  /* margin: 0 auto; */
  /* align-items: center; */
  /* justify-content: end; */
}

.nav-elements ul a {
  font-size: 16px;
  font-weight: 400;
  color: #2f234f;
  text-decoration: none;
    font-size: 1.125rem;
    color: #04091e;
    font-weight: 600;
    text-transform: capitalize;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    position: relative;
    width: 150px;
}

.nav-elements ul a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 10px;
  bottom: 0;
  left: -5px;
  border-radius: 5px;
  background-color: #009ddc;
  opacity: 0;
  z-index: -1;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.nav-elements ul a:hover::after {
  width: 100%;
  opacity: 0.7;
  -webkit-transform: perspective(5px) rotateX(5deg);
          transform: perspective(5px) rotateX(5deg);
}

.ContactLink {
  display: none;
}

.ContactBtn {
  background-color: #292828;
  color: #fff;
  text-align: center;
  letter-spacing: .1em;
  text-transform: uppercase;
  cursor: pointer;
  border-style: none;
  border-radius: 18px;
  justify-content: center;
  align-items: center;
  padding: 15px 25px;
  font-size: 14px;
  font-weight: 400;
}

.navbar__link.reveal {
  display: none;
}


@media (max-width: 840px) {
  .navbar {
    border-radius: 0%;
      margin-top: 0px;
  }
  .nav-elements ul a {
      width: 100px;
  }
}

@media (max-width: 700px) {
  .menu-icon {
    display: block;
    cursor: pointer;
  }
  .ContactLink {
    display: block;
  }
  .ContactBtn {
    display: none;
  }
  .nav-elements ul li:not(:last-child) {
    margin-right: 0;
  }

  .nav-elements {
    justify-content: center;
    position: absolute;
    right: 0;
    top: 60px;
    background-color: #ffffff;
    width: 0px;
    height: calc(100vh - 60px);
    transition: all 0.3s ease-in;
    overflow: hidden;
    display: flex;
    align-items: center;
  }

  .nav-elements.active {
    width: 100%;
  }

  .nav-elements ul {
    display: flex;
    flex-direction: column;
  }

  .nav-elements ul li {
    margin: 10px 0 20px;
        padding: 5px 0;
        font-size: 1.875rem;
        font-weight: 600;
        text-transform: capitalize;
        cursor: pointer;

        transition: all 0.3s ease-in-out;
        position: relative;
  }
  .nav-elements ul a {
    margin-right: 0;
    font-size: 2rem;
}
}